<?xml version="1.0"?>
<config>
	<modules>
		<Hwguyguy_CustomerProductAlert>
			<version>0.0.2</version>
		</Hwguyguy_CustomerProductAlert>
	</modules>
	<global>
		<blocks>
			<hwguyguy_customerproductalert>
				<class>Hwguyguy_CustomerProductAlert_Block</class>
			</hwguyguy_customerproductalert>
		</blocks>
		<helpers>
			<hwguyguy_customerproductalert>
				<class>Hwguyguy_CustomerProductAlert_Helper</class>
			</hwguyguy_customerproductalert>
		</helpers>
	</global>
	<frontend>
		<routers>
			<hwguyguy_customerproductalert>
				<use>standard</use>
				<args>
					<module>Hwguyguy_CustomerProductAlert</module>
					<frontName>customer-product-alert</frontName>
				</args>
			</hwguyguy_customerproductalert>
		</routers>
		<layout>
			<updates>
				<hwguyguy_customerproductalert>
					<file>hwguyguy/customerproductalert.xml</file>
				</hwguyguy_customerproductalert>
			</updates>
		</layout>
		<secure_url>
			<hwguyguy_customerproductalert>/customer-product-alert/</hwguyguy_customerproductalert>
		</secure_url>
	</frontend>
</config>
